ADMIN_USER=adminvidloop
ADMIN_PASS=vidloop4455
SESSION_SECRET=change_this_with_a_long_random_string
SESSION_COOKIE_SECURE=0
SESSION_MAX_AGE=43200
DEFAULT_DEVICE_PASSWORD=
DEFAULT_DEVICES_JSON=[{"name":"Principal","host":"10.50.0.10","port":22,"user":"vidloop","remote_path":"/home/vidloop/VIDLOOP44","remote_filename":"VIDLOOP.mp4"}]